{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["vite.config.ts"] }
    ],

    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": ["src/**/*.ts?(x)"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": ["vite.config.ts"],
      "parserOptions": {
        "project": ["./tsconfig.node.json"]
      }
    }
  ]
}
